
  .slider-caption.slider-caption-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 45vw;
    margin-top: -1vh;

    height: 70vh;
  }

  .slider-caption h2{
    font-size: 3rem;

  }

  .slider-caption p{
    font-size: 20px;
    margin-top: 10px;
  }

  .customAwardList{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-shrink: 0;
    width: 100%;
  }
